body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
} 

img {
    max-width: 250px;
    height: auto;
}  